# mono-tools .gitignore
Makefile
Makefile.in
Makefile.in.in
*.exe
*.mdb
config.guess
config.log
config.status
config.sub
configure
INSTALL
aclocal.m4
autom4te.cache
missing
mkinstalldirs
install-sh


# gendarme .gitignore
gendarme
gendarme-wizard
bin
obj
AssemblyInfo.cs
*.pidb
*.suo
*.user
UpgradeLog*.htm
UpgradeLog*.html
Backup/
